.summary {
    padding: 1em;
    background-color: #fcf9f9;
}

.inline-form-button {
    padding: 0;
    margin: 0;
    border: 0;
    background-color: #f5f1f1;
    font-size: 13px;
    color: #faf9f9;
}

.cart-option {
    margin: 0;
}
